<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>------------------------------------- This is analysed TEXT ----------------------------------------</h1>
    <h3>!!!!!!!! Things Changed !!!!!!!!</h3>
    <p>{{used_ch_box}}</p>
    <h3>Text is :</h3>
    <p><pre>{{ptext}}</pre></p>
</body>
</html>